fastapi==0.104.1
uvicorn[standard]==0.24.0
websockets==15.0.1
python-multipart==0.0.6
opencv-python==4.13.0.92
google-generativeai
google-cloud-aiplatform
gTTS==2.5.4
pillow==10.4.0
python-dotenv==1.0.0
google-cloud-texttospeech
requests>=2.31.0
beautifulsoup4>=4.12.0
